# Create a map of memphis

In [82]:
from ipyleaflet import *

memphis_coordinates = (35.117500, -89.971107)

m = Map(
    basemap=basemap_to_tiles(basemaps.OpenStreetMap.Mapnik),
    center=memphis_coordinates,
    zoom=9)
m

Map(center=[35.1175, -89.971107], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text', 'zoom_out_title']), AttributionControl(options=['position', 'prefix'], position='bottomright')), crs={'name': 'EPSG3857', 'custom': False}, default_style=MapStyle(), dragging_style=MapStyle(cursor='move'), layers=(TileLayer(base=True, max_zoom=19, min_zoom=1, name='OpenStreetMap.Mapnik', options=['attribution', 'detect_retina', 'max_native_zoom', 'max_zoom', 'min_native_zoom', 'min_zoom', 'no_wrap', 'tile_size', 'tms']),), options=['bounce_at_zoom_limits', 'box_zoom', 'center', 'close_popup_on_click', 'double_click_zoom', 'dragging', 'fullscreen', 'inertia', 'inertia_deceleration', 'inertia_max_speed', 'interpolation', 'keyboard', 'keyboard_pan_offset', 'keyboard_zoom_offset', 'max_zoom', 'min_zoom', 'scroll_wheel_zoom', 'tap', 'tap_tolerance', 'touch_zoom', 'world_copy_jump', 'zoom', 'zoom_animation_threshold', 'zoom_delta', 'zoom_snap', 'zoom_start'], style=MapStyle(), zoom=9.0)

# Create a database of properties
- Import data from tax site
- Clean-up if necessary
- Convert into database

In [57]:
import sqlalchemy
%load_ext sql

SyntaxError: invalid syntax (<ipython-input-57-bffa1555449d>, line 4)

In [70]:
%%sql

CREATE TABLE properties(address VARCHAR(20) UNIQUE, 
                        zipcode SMALLINT, 
                        width SMALLINT, depth SMALLINT, 
                        acres FLOAT(10),
                        cost FLOAT(12));

 * sqlite://
Done.

[]

In [69]:
%%sql
DROP TABLE properties

 * sqlite://
Done.

[]

In [81]:
%%sql

select address from properties

 * sqlite://
Done.

[('1009 ROSEWOOD',),
 ('1035 ROSEWOOD',),
 ('1036 ROZELLE',),
 ('107 W DISON',),
 ('1112 RYDER',),
 ('1198 LATHAM',),
 ('1229 WILSON',),
 ('1255 WILLIE MITCHELL',),
 ('1306 N MCNEIL',),
 ('1311 LATHAM',),
 ('1414 LEFLORE',),
 ('1488 TAYNER',),
 ('1490 HARLEM',),
 ('1500 S WILLETT',),
 ('1510 HUMBER',),
 ('1545 SOUTHERN',),
 ('156 MAJUBA',),
 ('1570 BALTIMORE',),
 ('1589 MISSISSIPPI',),
 ('1595 MILLER',),
 ('1640 S LAUDERDALE',),
 ('1681 OAKWOOD',),
 ('170 MAJUBA',),
 ('1717 SHADOWLAWN',),
 ('1739 S FARRINGTON',),
 ('1772 BENNING',),
 ('1867 FARRINGTON',),
 ('1903 FARRINGTON',),
 ('2006 SWIFT',),
 ('2295 POE',),
 ('2325 ELDRIDGE',),
 ('2339 HUNTER',),
 ('2352 DEXTER',),
 ('2357 HUNTER',),
 ('2384 ARLINGTON',),
 ('2396 HUBBARD',),
 ('240 E TRIGG',),
 ('2438 DOUGLASS',),
 ('2483 HANWOOD',),
 ('2555 KIMBALL',),
 ('2615 KIMBALL',),
 ('304 E WALDORF',),
 ('3076 SHANNON',),
 ('3209 COLEMAN',),
 ('321 JOUBERT',),
 ('3215 GUERNSEY',),
 ('393 LUCY',),
 ('41 W FAY',),
 ('440 SHAWNEE',),
 ('488 LONGVIEW',),
 ('657 ALSTON',),
 ('690 ALSTON',),
 ('696 E BODLEY',),
 ('727 E TRIGG',),
 ('748 ROANOKE',),
 ('765 GRAND',),
 ('790 JOSEPHINE',),
 ('804 S LAUDERDALE',),
 ('814 N HOLMES',),
 ('894 TAMPA',),
 ('924 PEARCE',),
 ('96 E MALLORY',)]

In [79]:
%%sql 

INSERT INTO properties VALUES('1112 RYDER', 38106, 50, 174, 0.199, 60100.00);
INSERT INTO properties VALUES('1229 WILSON', 38106, 50, 156, 0.179, 22300.00);
INSERT INTO properties VALUES('924 PEARCE', 38107, 33, 200, 0.206, 4500.00);
INSERT INTO properties VALUES('2438 DOUGLASS', 38114, 100, 104, 0.360, 20900.00);
INSERT INTO properties VALUES('765 GRAND', 38114, 35, 85, 0.099, 8800.00);
INSERT INTO properties VALUES('790 JOSEPHINE', 38114, 60, 100, 0.186, 31500.00);
INSERT INTO properties VALUES('1545 SOUTHERN', 38106, 50, 136, 0.229, 49000.00);
INSERT INTO properties VALUES('1036 ROZELLE', 38114, 50, 159, 0.285, 35400.00);
INSERT INTO properties VALUES('1490 HARLEM', 38114, 75, 140, 0.358, 31400.00);
INSERT INTO properties VALUES('304 E WALDORF', 38106, 46, 145, 0.399, 34100.00);
INSERT INTO properties VALUES('1510 HUMBER', 38106, 50, 165, 0.235, 29200.00);
INSERT INTO properties VALUES('1640 S LAUDERDALE', 38106, 50, 80, 0.137, 18100.00);
INSERT INTO properties VALUES('1595 MILLER', 38106, 38, 80, 0.113, 14300.00);
INSERT INTO properties VALUES('1009 ROSEWOOD', 38106, 50, 140, 0.226, 27000.00);
INSERT INTO properties VALUES('1035 ROSEWOOD', 38106, 50, 140, 0.228, 39000.00);
INSERT INTO properties VALUES('894 TAMPA', 38106, 50, 252, 0.408, 26900.00);
INSERT INTO properties VALUES('1589 MISSISSIPPI', 38106, 53, 96, 0.192, 34700.00);
INSERT INTO properties VALUES('1739 S FARRINGTON', 38109, 50, 108, 0.183, 29200.00);
INSERT INTO properties VALUES('1867 FARRINGTON', 38109, 50, 108, 0.182, 26800.00);
INSERT INTO properties VALUES('1903 FARRINGTON', 38109, 50, 108, 0.190, 37500.00);
INSERT INTO properties VALUES('156 MAJUBA', 38109, 50, 100, 0.181, 18200.00);
INSERT INTO properties VALUES('170 MAJUBA', 38109, 50, 100, 0.191, 28600.00);
INSERT INTO properties VALUES('107 W DISON', 38109, 45, 100, 0.151, 6800.00);
INSERT INTO properties VALUES('41 W FAY', 38109, 40, 0, 0.109, 23100.00);
INSERT INTO properties VALUES('3215 GUERNSEY', 38112, 59, 130, 0.276, 22900.00);
INSERT INTO properties VALUES('3209 COLEMAN', 38112, 59, 132, 0.177, 30500.00);
INSERT INTO properties VALUES('814 N HOLMES', 38122, 50, 100, 0.114, 24600.00);
INSERT INTO properties VALUES('1306 N MCNEIL', 38108, 47, 100, 0.150, 24600.00);
INSERT INTO properties VALUES('1681 OAKWOOD', 38108, 50, 150, 0.267, 16500.00);
INSERT INTO properties VALUES('2396 HUBBARD', 38108, 40, 120, 0.166, 28300.00);
INSERT INTO properties VALUES('2325 ELDRIDGE', 38108, 40, 135, 0.185, 19900.00);
INSERT INTO properties VALUES('2339 HUNTER', 38108, 40, 110, 0.156, 21800.00);
INSERT INTO properties VALUES('2357 HUNTER', 38108, 40, 110, 0.150, 38100.00);
INSERT INTO properties VALUES('2352 DEXTER', 38108, 40, 110, 0.156, 16600.00);
INSERT INTO properties VALUES('2483 HANWOOD', 38108, 50, 150, 0.261, 18900.00);
INSERT INTO properties VALUES('3076 SHANNON', 38108, 40, 125, 0.114, 9600.00);
INSERT INTO properties VALUES('1488 TAYNER', 38108, 106, 0, 0.369, 59000.00);
INSERT INTO properties VALUES('2295 POE', 38114, 50, 135, 0.248, 36700.00);
INSERT INTO properties VALUES('2555 KIMBALL', 38114, 50, 153, 0.287, 43100.00);
INSERT INTO properties VALUES('2615 KIMBALL', 38114, 55, 154, 0.314, 42100.00);
INSERT INTO properties VALUES('2384 ARLINGTON', 38114, 50, 154, 0.275, 51300.00);
INSERT INTO properties VALUES('1570 BALTIMORE', 38114, 60, 177, 0.375, 55400.00);
INSERT INTO properties VALUES('1500 S WILLETT', 38106, 50, 120, 0.187, 51500.00);
INSERT INTO properties VALUES('488 LONGVIEW', 38106, 100, 150, 0.517, 43400.00);
INSERT INTO properties VALUES('1717 SHADOWLAWN', 38106, 61, 140, 0.313, 32100.00);
INSERT INTO properties VALUES('440 SHAWNEE', 38106, 104, 127, 0.415, 29900.00);
INSERT INTO properties VALUES('1772 BENNING', 38106, 57, 159, 0.252, 34000.00);
INSERT INTO properties VALUES('696 E BODLEY', 38106, 50, 100, 0.177, 39200.00);
INSERT INTO properties VALUES('321 JOUBERT', 38109, 53, 108, 0.221, 34000.00);
INSERT INTO properties VALUES('2006 SWIFT', 38109, 50, 103, 0.197, 23700.00);
INSERT INTO properties VALUES('96 E MALLORY', 38109, 50, 150, 0.242, 27600.00);

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# Organize properties by street, price, lot size, lot:price

# Map properties
- Convert property address to respective coordinates
- Map coordinates as layers

In [53]:
sample_house = (35.019032, -90.076683)
marker1 = Marker(name='sample_house', location=sample_house)
m.add_layer(marker1)

m

Map(bottom=52065.0, center=[35.1175, -89.971107], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text', 'zoom_out_title']), AttributionControl(options=['position', 'prefix'], position='bottomright')), crs={'name': 'EPSG3857', 'custom': False}, default_style=MapStyle(), dragging_style=MapStyle(cursor='move'), east=-88.63769531250001, layers=(TileLayer(base=True, max_zoom=19, min_zoom=1, name='OpenStreetMap.Mapnik', options=['attribution', 'detect_retina', 'max_native_zoom', 'max_zoom', 'min_native_zoom', 'min_zoom', 'no_wrap', 'tile_size', 'tms']), Marker(location=[52, 2], name='sample_house', options=['alt', 'draggable', 'keyboard', 'rise_offset', 'rise_on_hover', 'rotation_angle', 'rotation_origin', 'title', 'z_index_offset']), Marker(location=[52, 2], name='sample_house', options=['alt', 'draggable', 'keyboard', 'rise_offset', 'rise_on_hover', 'rotation_angle', 'rotation_origin', 'title', 'z_index_offset']), Marker(location=[52, 2], name='sample_house', options=['alt', 'draggable', 'keyboard', 'rise_offset', 'rise_on_hover', 'rotation_angle', 'rotation_origin', 'title', 'z_index_offset']), Marker(location=[35.019032, -90.076683], name='sample_house', options=['alt', 'draggable', 'keyboard', 'rise_offset', 'rise_on_hover', 'rotation_angle', 'rotation_origin', 'title', 'z_index_offset']), Marker(location=[35.019032, -90.076683], name='sample_house', options=['alt', 'draggable', 'keyboard', 'rise_offset', 'rise_on_hover', 'rotation_angle', 'rotation_origin', 'title', 'z_index_offset'])), left=32294.0, north=35.56574628576276, options=['bounce_at_zoom_limits', 'box_zoom', 'center', 'close_popup_on_click', 'double_click_zoom', 'dragging', 'fullscreen', 'inertia', 'inertia_deceleration', 'inertia_max_speed', 'interpolation', 'keyboard', 'keyboard_pan_offset', 'keyboard_zoom_offset', 'max_zoom', 'min_zoom', 'scroll_wheel_zoom', 'tap', 'tap_tolerance', 'touch_zoom', 'world_copy_jump', 'zoom', 'zoom_animation_threshold', 'zoom_delta', 'zoom_snap', 'zoom_start'], right=33264.0, south=34.66709959253007, style=MapStyle(), top=51665.0, west=-91.30187988281251, window_url='http://localhost:8888/notebooks/projects/tax%20properties/prototype.ipynb#Map-properties', zoom=9.0)